<h2>OurPets Events</h2>

{{#if user }}
<a class="btn btn-primary" href="/event/create">Create Event</a>
{{/if }}

{{#each data.eventList }}
<div class="row">
    <div class="col-md-6">
        <div>
            <strong>name: </strong> <a href="/event/{{ id }}">{{ name }}</a>
        </div>
        <div>
            <strong>date: </strong> {{ date }}
        </div>

        <div>
            <strong>time: </strong> {{ time }}
        </div>

        <div>
            <strong>location: </strong> {{ location }}
        </div>

        <div>
            <strong>description:</strong> {{ description }}
        </div>
    </div>
</div>
{{/each }}
