<h3>User Profile for: {{data.user.username}}</h3>
<h3>Email: {{data.user.email}}</h3>
<h3>Pet Name: {{data.info.name}}</h3>
<h3>Pet Type: {{data.info.type}}</h3>
<h3>Pet Breed: {{data.info.breed}}</h3>
<h3>Pet Biography: {{data.info.bio}}</h3>



<a class="btn btn-primary" href="/profile/addpet">Add Pet</a>
