<h2> Blog Post view</h2>

{{#if user }}
<a class="btn btn-primary" href="/blog/admin/{{ data.blog.id }}/edit">Edit Post</a>
<a class="btn btn-danger" href="/blog/admin/{{ data.blog.id }}/delete">Delete Post</a>
{{/if }}

<div class="row">
    <div class="col-md-6">
        <div class="panel-body">
            <div>
                <strong>Name: </strong>{{data.blog.name}}
            </div>

            <div>
                <strong>Author: </strong>{{data.blog.author}}
            </div>

            <div>
                <strong>Description: </strong>{{data.blog.description}}
            </div>
        </div>
    </div>

</div>

{{#each data.blog.comments }}
    <div class="row">
        <div class= "col-md-6">

            <p>Comment:{{ content }}</p>
        </div>
    </div>
{{/each }}

{{#if user }}
<div class="row">
    <div class="col-md-6">
        <form method="POST" enctype="application/x-www-form-urlencoded" action="/blog/admin/{{ data.blog.id }}/comment">
            <div class="form-group">
                <label>Comment:</label>
                <textarea class="form-control" name="content"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Add Comment</a>
            </form>

        </div>
    </div>
</div>
{{/if }}
