<h2> Post view</h2>

<a class="btn btn-primary" href="/post/{{ data.post.id }}/edit">Edit Post</a>
    <a class="btn btn-danger" href="/post/{{ data.post.id }}/delete">Delete Post</a>



<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <strong>Name: </strong>{{data.post.name}}
        </div>
        <div class="">
            <strong>Author: </strong>{{data.post.author}}
        </div>
        <div class="">
            <strong>Description: </strong>{{data.post.description}}
        </div>
