<h2>Details about {{data.pet.name}}</h2>

<h3>Name: {{data.pet.name}}<h3>
<h3>Name: {{data.pet.type}}<h3>
<h3>Name: {{data.pet.breed}}<h3>
<h3>Name: {{data.pet.bio}}<h3>


<a class="btn btn-success" href="/profile/pets/{{data.pet.id}}/edit">Edit Pet Info</a>
| <a class="btn btn-primary" href="/profile/">Back to Profile</a>
| <a class="btn btn-danger" href="/profile/pets/{{data.pet.id}}/delete">Delete Pet Info</a>
